body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em; /*90% do tamanho da fonte original*/
}

a {
    margin: 5px;
    text-decoration: none; /*tiramos o sublinhado*/
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.header-nav {
    display: flex; /*creates flexbox*/
    align-items: center;
    margin-right: 17px;
}

.header-img:hover {
    box-shadow: 0 0 10px gainsboro;
    border-radius: 15px;
    cursor: pointer;
}
