body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em; /*90% do tamanho da fonte original*/
}

a {
    margin: 5px;
    text-decoration: none; /*tiramos o sublinhado*/
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

